### Tasks:
1. Use the RANK() function to assign a ranking number to each row based on the order specified within the window.

2. Use aggregate window functions to calculate running totals.

3. Use the LAG() function to help calculate the difference, in days, between consecutive date readings in our dataset.

4. Use aggregate window functions to calculate the moving average.

In [2]:
%load_ext sql

In [4]:
%sql sqlite:///northwind.db

#### Task 1

Rank all the orders of a specific customer from the most recent to the least recent using window functions. Assume that the customer ID is 'ALFKI'.

In [8]:
%%sql

SELECT
    *
FROM
    orders
WHERE
    customerid='ALFKI';

 * sqlite:///northwind.db
Done.

[(10643, 'ALFKI', 6, '1997-08-25 00:00:00', '1997-09-22 00:00:00', '1997-09-02 00:00:00', 1, 29.46, 'Alfreds Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
 (10692, 'ALFKI', 4, '1997-10-03 00:00:00', '1997-10-31 00:00:00', '1997-10-13 00:00:00', 2, 61.02, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
 (10702, 'ALFKI', 4, '1997-10-13 00:00:00', '1997-11-24 00:00:00', '1997-10-21 00:00:00', 1, 23.94, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
 (10835, 'ALFKI', 1, '1998-01-15 00:00:00', '1998-02-12 00:00:00', '1998-01-21 00:00:00', 3, 69.53, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
 (10952, 'ALFKI', 1, '1998-03-16 00:00:00', '1998-04-27 00:00:00', '1998-03-24 00:00:00', 1, 40.42, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany'),
 (11011, 'ALFKI', 3, '1998-04-09 00:00:00', '1998-05-07 00:00:00', '1998-04-13 00:00:00', 1, 1.21, 'Alfred-s Futterkiste', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany')]

In [9]:
%%sql

SELECT
    OrderID,
    OrderDate,
    RANK() OVER( 
        ORDER BY OrderDate DESC) AS OrderRank
FROM
    orders
WHERE
    customerid='ALFKI';

 * sqlite:///northwind.db
Done.

[(11011, '1998-04-09 00:00:00', 1),
 (10952, '1998-03-16 00:00:00', 2),
 (10835, '1998-01-15 00:00:00', 3),
 (10702, '1997-10-13 00:00:00', 4),
 (10692, '1997-10-03 00:00:00', 5),
 (10643, '1997-08-25 00:00:00', 6)]

#### Task 2
Calculate a running total of the quantity of orders using window functions.

In [21]:
%%sql

SELECT
    *
FROM
    orderDetails
ORDER BY 
    OrderID
LIMIT 5;

 * sqlite:///northwind.db
Done.

[(10248, 11, 14, 12, 0.0),
 (10248, 42, 9.8, 10, 0.0),
 (10248, 72, 34.8, 5, 0.0),
 (10249, 14, 18.6, 9, 0.0),
 (10249, 51, 42.4, 40, 0.0)]

In [23]:
%%sql

SELECT
    OrderID,
    Quantity,
    SUM(Quantity) OVER (
        ORDER BY OrderID) AS RunningTotal
FROM
    OrderDetails
GROUP BY
    OrderID
LIMIT 10;

 * sqlite:///northwind.db
Done.

[(10248, 12, 12),
 (10249, 9, 21),
 (10250, 10, 31),
 (10251, 6, 37),
 (10252, 40, 77),
 (10253, 20, 97),
 (10254, 15, 112),
 (10255, 20, 132),
 (10256, 15, 147),
 (10257, 25, 172)]

#### Task 3
Use window functions to find the difference in successive order dates for each customer. HINT: The TIMESTAMPDIFF() function in MySQL is not available in SQLite. We can use the julianday() function to convert the dates to a floating point number and then calculate the difference.

In [30]:
%%sql

SELECT
    OrderID,
    CustomerID,
    OrderDate,
    LAG(OrderDate,1) OVER (
        PARTITION BY CustomerID
        ORDER BY OrderDate) AS PrevOrderDate,
    julianday(OrderDate)-julianday(LAG(OrderDate,1) OVER (
        PARTITION BY CustomerID
        ORDER BY OrderDate)) AS DiffOrderDate
FROM
    Orders;

 * sqlite:///northwind.db
Done.

[(10643, 'ALFKI', '1997-08-25 00:00:00', None, None),
 (10692, 'ALFKI', '1997-10-03 00:00:00', '1997-08-25 00:00:00', 39.0),
 (10702, 'ALFKI', '1997-10-13 00:00:00', '1997-10-03 00:00:00', 10.0),
 (10835, 'ALFKI', '1998-01-15 00:00:00', '1997-10-13 00:00:00', 94.0),
 (10952, 'ALFKI', '1998-03-16 00:00:00', '1998-01-15 00:00:00', 60.0),
 (11011, 'ALFKI', '1998-04-09 00:00:00', '1998-03-16 00:00:00', 24.0),
 (10308, 'ANATR', '1996-09-18 00:00:00', None, None),
 (10625, 'ANATR', '1997-08-08 00:00:00', '1996-09-18 00:00:00', 324.0),
 (10759, 'ANATR', '1997-11-28 00:00:00', '1997-08-08 00:00:00', 112.0),
 (10926, 'ANATR', '1998-03-04 00:00:00', '1997-11-28 00:00:00', 96.0),
 (10365, 'ANTON', '1996-11-27 00:00:00', None, None),
 (10507, 'ANTON', '1997-04-15 00:00:00', '1996-11-27 00:00:00', 139.0),
 (10535, 'ANTON', '1997-05-13 00:00:00', '1997-04-15 00:00:00', 28.0),
 (10573, 'ANTON', '1997-06-19 00:00:00', '1997-05-13 00:00:00', 37.0),
 (10677, 'ANTON', '1997-09-22 00:00:00', '1997-06-19 00:00:00', 95.0),
 (10682, 'ANTON', '1997-09-25 00:00:00', '1997-09-22 00:00:00', 3.0),
 (10856, 'ANTON', '1998-01-28 00:00:00', '1997-09-25 00:00:00', 125.0),
 (10355, 'AROUT', '1996-11-15 00:00:00', None, None),
 (10383, 'AROUT', '1996-12-16 00:00:00', '1996-11-15 00:00:00', 31.0),
 (10453, 'AROUT', '1997-02-21 00:00:00', '1996-12-16 00:00:00', 67.0),
 (10558, 'AROUT', '1997-06-04 00:00:00', '1997-02-21 00:00:00', 103.0),
 (10707, 'AROUT', '1997-10-16 00:00:00', '1997-06-04 00:00:00', 134.0),
 (10741, 'AROUT', '1997-11-14 00:00:00', '1997-10-16 00:00:00', 29.0),
 (10743, 'AROUT', '1997-11-17 00:00:00', '1997-11-14 00:00:00', 3.0),
 (10768, 'AROUT', '1997-12-08 00:00:00', '1997-11-17 00:00:00', 21.0),
 (10793, 'AROUT', '1997-12-24 00:00:00', '1997-12-08 00:00:00', 16.0),
 (10864, 'AROUT', '1998-02-02 00:00:00', '1997-12-24 00:00:00', 40.0),
 (10920, 'AROUT', '1998-03-03 00:00:00', '1998-02-02 00:00:00', 29.0),
 (10953, 'AROUT', '1998-03-16 00:00:00', '1998-03-03 00:00:00', 13.0),
 (11016, 'AROUT', '1998-04-10 00:00:00', '1998-03-16 00:00:00', 25.0),
 (10278, 'BERGS', '1996-08-12 00:00:00', None, None),
 (10280, 'BERGS', '1996-08-14 00:00:00', '1996-08-12 00:00:00', 2.0),
 (10384, 'BERGS', '1996-12-16 00:00:00', '1996-08-14 00:00:00', 124.0),
 (10444, 'BERGS', '1997-02-12 00:00:00', '1996-12-16 00:00:00', 58.0),
 (10445, 'BERGS', '1997-02-13 00:00:00', '1997-02-12 00:00:00', 1.0),
 (10524, 'BERGS', '1997-05-01 00:00:00', '1997-02-13 00:00:00', 77.0),
 (10572, 'BERGS', '1997-06-18 00:00:00', '1997-05-01 00:00:00', 48.0),
 (10626, 'BERGS', '1997-08-11 00:00:00', '1997-06-18 00:00:00', 54.0),
 (10654, 'BERGS', '1997-09-02 00:00:00', '1997-08-11 00:00:00', 22.0),
 (10672, 'BERGS', '1997-09-17 00:00:00', '1997-09-02 00:00:00', 15.0),
 (10689, 'BERGS', '1997-10-01 00:00:00', '1997-09-17 00:00:00', 14.0),
 (10733, 'BERGS', '1997-11-07 00:00:00', '1997-10-01 00:00:00', 37.0),
 (10778, 'BERGS', '1997-12-16 00:00:00', '1997-11-07 00:00:00', 39.0),
 (10837, 'BERGS', '1998-01-16 00:00:00', '1997-12-16 00:00:00', 31.0),
 (10857, 'BERGS', '1998-01-28 00:00:00', '1998-01-16 00:00:00', 12.0),
 (10866, 'BERGS', '1998-02-03 00:00:00', '1998-01-28 00:00:00', 6.0),
 (10875, 'BERGS', '1998-02-06 00:00:00', '1998-02-03 00:00:00', 3.0),
 (10924, 'BERGS', '1998-03-04 00:00:00', '1998-02-06 00:00:00', 26.0),
 (10501, 'BLAUS', '1997-04-09 00:00:00', None, None),
 (10509, 'BLAUS', '1997-04-17 00:00:00', '1997-04-09 00:00:00', 8.0),
 (10582, 'BLAUS', '1997-06-27 00:00:00', '1997-04-17 00:00:00', 71.0),
 (10614, 'BLAUS', '1997-07-29 00:00:00', '1997-06-27 00:00:00', 32.0),
 (10853, 'BLAUS', '1998-01-27 00:00:00', '1997-07-29 00:00:00', 182.0),
 (10956, 'BLAUS', '1998-03-17 00:00:00', '1998-01-27 00:00:00', 49.0),
 (11058, 'BLAUS', '1998-04-29 00:00:00', '1998-03-17 00:00:00', 43.0),
 (10265, 'BLONP', '1996-07-25 00:00:00', None, None),
 (10297, 'BLONP', '1996-09-04 00:00:00', '1996-07-25 00:00:00', 41.0),
 (10360, 'BLONP', '1996-11-22 00:00:00', '1996-09-04 00:00:00', 79.0),
 (10436, 'BLONP', '1997-02-05 00:00:00', '1996-11-22 00:00:00', 75.0),
 (10449, 'BLONP', '1997-02-18 00:00:00', '1997-02-05 00:00:00', 13.0),
 (10559, 'BLONP', '1997-06-05 00:00:00', '1997-02-18 00:00:00', 107.0),
 (10566, 'BLONP', '1997-06-12 00:00:00', '1997-06-05 00:00:00', 7.0),
 (10584, 'BLONP', '1997-06-30 00:00:00', '1997-06-12 00:00:00', 18.0),
 (10628, 'BLONP', '1997-08-12 00:00:00', '1997-06-30 00:00:00', 43.0),
 (10679, 'BLONP', '1997-09-23 00:00:00', '1997-08-12 00:00:00', 42.0),
 (10826, 'BLONP', '1998-01-12 00:00:00', '1997-09-23 00:00:00', 111.0),
 (10326, 'BOLID', '1996-10-10 00:00:00', None, None),
 (10801, 'BOLID', '1997-12-29 00:00:00', '1996-10-10 00:00:00', 445.0),
 (10970, 'BOLID', '1998-03-24 00:00:00', '1997-12-29 00:00:00', 85.0),
 (10331, 'BONAP', '1996-10-16 00:00:00', None, None),
 (10340, 'BONAP', '1996-10-29 00:00:00', '1996-10-16 00:00:00', 13.0),
 (10362, 'BONAP', '1996-11-25 00:00:00', '1996-10-29 00:00:00', 27.0),
 (10470, 'BONAP', '1997-03-11 00:00:00', '1996-11-25 00:00:00', 106.0),
 (10511, 'BONAP', '1997-04-18 00:00:00', '1997-03-11 00:00:00', 38.0),
 (10525, 'BONAP', '1997-05-02 00:00:00', '1997-04-18 00:00:00', 14.0),
 (10663, 'BONAP', '1997-09-10 00:00:00', '1997-05-02 00:00:00', 131.0),
 (10715, 'BONAP', '1997-10-23 00:00:00', '1997-09-10 00:00:00', 43.0),
 (10730, 'BONAP', '1997-11-05 00:00:00', '1997-10-23 00:00:00', 13.0),
 (10732, 'BONAP', '1997-11-06 00:00:00', '1997-11-05 00:00:00', 1.0),
 (10755, 'BONAP', '1997-11-26 00:00:00', '1997-11-06 00:00:00', 20.0),
 (10827, 'BONAP', '1998-01-12 00:00:00', '1997-11-26 00:00:00', 47.0),
 (10871, 'BONAP', '1998-02-05 00:00:00', '1998-01-12 00:00:00', 24.0),
 (10876, 'BONAP', '1998-02-09 00:00:00', '1998-02-05 00:00:00', 4.0),
 (10932, 'BONAP', '1998-03-06 00:00:00', '1998-02-09 00:00:00', 25.0),
 (10940, 'BONAP', '1998-03-11 00:00:00', '1998-03-06 00:00:00', 5.0),
 (11076, 'BONAP', '1998-05-06 00:00:00', '1998-03-11 00:00:00', 56.0),
 (10389, 'BOTTM', '1996-12-20 00:00:00', None, None),
 (10410, 'BOTTM', '1997-01-10 00:00:00', '1996-12-20 00:00:00', 21.0),
 (10411, 'BOTTM', '1997-01-10 00:00:00', '1997-01-10 00:00:00', 0.0),
 (10431, 'BOTTM', '1997-01-30 00:00:00', '1997-01-10 00:00:00', 20.0),
 (10492, 'BOTTM', '1997-04-01 00:00:00', '1997-01-30 00:00:00', 61.0),
 (10742, 'BOTTM', '1997-11-14 00:00:00', '1997-04-01 00:00:00', 227.0),
 (10918, 'BOTTM', '1998-03-02 00:00:00', '1997-11-14 00:00:00', 108.0),
 (10944, 'BOTTM', '1998-03-12 00:00:00', '1998-03-02 00:00:00', 10.0),
 (10949, 'BOTTM', '1998-03-13 00:00:00', '1998-03-12 00:00:00', 1.0),
 (10975, 'BOTTM', '1998-03-25 00:00:00', '1998-03-13 00:00:00', 12.0),
 (10982, 'BOTTM', '1998-03-27 00:00:00', '1998-03-25 00:00:00', 2.0),
 (11027, 'BOTTM', '1998-04-16 00:00:00', '1998-03-27 00:00:00', 20.0),
 (11045, 'BOTTM', '1998-04-23 00:00:00', '1998-04-16 00:00:00', 7.0),
 (11048, 'BOTTM', '1998-04-24 00:00:00', '1998-04-23 00:00:00', 1.0),
 (10289, 'BSBEV', '1996-08-26 00:00:00', None, None),
 (10471, 'BSBEV', '1997-03-11 00:00:00', '1996-08-26 00:00:00', 197.0),
 (10484, 'BSBEV', '1997-03-24 00:00:00', '1997-03-11 00:00:00', 13.0),
 (10538, 'BSBEV', '1997-05-15 00:00:00', '1997-03-24 00:00:00', 52.0),
 (10539, 'BSBEV', '1997-05-16 00:00:00', '1997-05-15 00:00:00', 1.0),
 (10578, 'BSBEV', '1997-06-24 00:00:00', '1997-05-16 00:00:00', 39.0),
 (10599, 'BSBEV', '1997-07-15 00:00:00', '1997-06-24 00:00:00', 21.0),
 (10943, 'BSBEV', '1998-03-11 00:00:00', '1997-07-15 00:00:00', 239.0),
 (10947, 'BSBEV', '1998-03-13 00:00:00', '1998-03-11 00:00:00', 2.0),
 (11023, 'BSBEV', '1998-04-14 00:00:00', '1998-03-13 00:00:00', 32.0),
 (10521, 'CACTU', '1997-04-29 00:00:00', None, None),
 (10782, 'CACTU', '1997-12-17 00:00:00', '1997-04-29 00:00:00', 232.0),
 (10819, 'CACTU', '1998-01-07 00:00:00', '1997-12-17 00:00:00', 21.0),
 (10881, 'CACTU', '1998-02-11 00:00:00', '1998-01-07 00:00:00', 35.0),
 (10937, 'CACTU', '1998-03-10 00:00:00', '1998-02-11 00:00:00', 27.0),
 (11054, 'CACTU', '1998-04-28 00:00:00', '1998-03-10 00:00:00', 49.0),
 (10259, 'CENTC', '1996-07-18 00:00:00', None, None),
 (10254, 'CHOPS', '1996-07-11 00:00:00', None, None),
 (10370, 'CHOPS', '1996-12-03 00:00:00', '1996-07-11 00:00:00', 145.0),
 (10519, 'CHOPS', '1997-04-28 00:00:00', '1996-12-03 00:00:00', 146.0),
 (10731, 'CHOPS', '1997-11-06 00:00:00', '1997-04-28 00:00:00', 192.0),
 (10746, 'CHOPS', '1997-11-19 00:00:00', '1997-11-06 00:00:00', 13.0),
 (10966, 'CHOPS', '1998-03-20 00:00:00', '1997-11-19 00:00:00', 121.0),
 (11029, 'CHOPS', '1998-04-16 00:00:00', '1998-03-20 00:00:00', 27.0),
 (11041, 'CHOPS', '1998-04-22 00:00:00', '1998-04-16 00:00:00', 6.0),
 (10290, 'COMMI', '1996-08-27 00:00:00', None, None),
 (10466, 'COMMI', '1997-03-06 00:00:00', '1996-08-27 00:00:00', 191.0),
 (10494, 'COMMI', '1997-04-02 00:00:00', '1997-03-06 00:00:00', 27.0),
 (10969, 'COMMI', '1998-03-23 00:00:00', '1997-04-02 00:00:00', 355.0),
 (11042, 'COMMI', '1998-04-22 00:00:00', '1998-03-23 00:00:00', 30.0),
 (10435, 'CONSH', '1997-02-04 00:00:00', None, None),
 (10462, 'CONSH', '1997-03-03 00:00:00', '1997-02-04 00:00:00', 27.0),
 (10848, 'CONSH', '1998-01-23 00:00:00', '1997-03-03 00:00:00', 326.0),
 (10363, 'DRACD', '1996-11-26 00:00:00', None, None),
 (10391, 'DRACD', '1996-12-23 00:00:00', '1996-11-26 00:00:00', 27.0),
 (10797, 'DRACD', '1997-12-25 00:00:00', '1996-12-23 00:00:00', 367.0),
 (10825, 'DRACD', '1998-01-09 00:00:00', '1997-12-25 00:00:00', 15.0),
 (11036, 'DRACD', '1998-04-20 00:00:00', '1998-01-09 00:00:00', 101.0),
 (11067, 'DRACD', '1998-05-04 00:00:00', '1998-04-20 00:00:00', 14.0),
 (10311, 'DUMON', '1996-09-20 00:00:00', None, None),
 (10609, 'DUMON', '1997-07-24 00:00:00', '1996-09-20 00:00:00', 307.0),
 (10683, 'DUMON', '1997-09-26 00:00:00', '1997-07-24 00:00:00', 64.0),
 (10890, 'DUMON', '1998-02-16 00:00:00', '1997-09-26 00:00:00', 143.0),
 (10364, 'EASTC', '1996-11-26 00:00:00', None, None),
 (10400, 'EASTC', '1997-01-01 00:00:00', '1996-11-26 00:00:00', 36.0),
 (10532, 'EASTC', '1997-05-09 00:00:00', '1997-01-01 00:00:00', 128.0),
 (10726, 'EASTC', '1997-11-03 00:00:00', '1997-05-09 00:00:00', 178.0),
 (10987, 'EASTC', '1998-03-31 00:00:00', '1997-11-03 00:00:00', 148.0),
 (11024, 'EASTC', '1998-04-15 00:00:00', '1998-03-31 00:00:00', 15.0),
 (11047, 'EASTC', '1998-04-24 00:00:00', '1998-04-15 00:00:00', 9.0),
 (11056, 'EASTC', '1998-04-28 00:00:00', '1998-04-24 00:00:00', 4.0),
 (10258, 'ERNSH', '1996-07-17 00:00:00', None, None),
 (10263, 'ERNSH', '1996-07-23 00:00:00', '1996-07-17 00:00:00', 6.0),
 (10351, 'ERNSH', '1996-11-11 00:00:00', '1996-07-23 00:00:00', 111.0),
 (10368, 'ERNSH', '1996-11-29 00:00:00', '1996-11-11 00:00:00', 18.0),
 (10382, 'ERNSH', '1996-12-13 00:00:00', '1996-11-29 00:00:00', 14.0),
 (10390, 'ERNSH', '1996-12-23 00:00:00', '1996-12-13 00:00:00', 10.0),
 (10402, 'ERNSH', '1997-01-02 00:00:00', '1996-12-23 00:00:00', 10.0),
 (10403, 'ERNSH', '1997-01-03 00:00:00', '1997-01-02 00:00:00', 1.0),
 (10430, 'ERNSH', '1997-01-30 00:00:00', '1997-01-03 00:00:00', 27.0),
 (10442, 'ERNSH', '1997-02-11 00:00:00', '1997-01-30 00:00:00', 12.0),
 (10514, 'ERNSH', '1997-04-22 00:00:00', '1997-02-11 00:00:00', 70.0),
 (10571, 'ERNSH', '1997-06-17 00:00:00', '1997-04-22 00:00:00', 56.0),
 (10595, 'ERNSH', '1997-07-10 00:00:00', '1997-06-17 00:00:00', 23.0),
 (10633, 'ERNSH', '1997-08-15 00:00:00', '1997-07-10 00:00:00', 36.0),
 (10667, 'ERNSH', '1997-09-12 00:00:00', '1997-08-15 00:00:00', 28.0),
 (10698, 'ERNSH', '1997-10-09 00:00:00', '1997-09-12 00:00:00', 27.0),
 (10764, 'ERNSH', '1997-12-03 00:00:00', '1997-10-09 00:00:00', 55.0),
 (10771, 'ERNSH', '1997-12-10 00:00:00', '1997-12-03 00:00:00', 7.0),
 (10773, 'ERNSH', '1997-12-11 00:00:00', '1997-12-10 00:00:00', 1.0),
 (10776, 'ERNSH', '1997-12-15 00:00:00', '1997-12-11 00:00:00', 4.0),
 (10795, 'ERNSH', '1997-12-24 00:00:00', '1997-12-15 00:00:00', 9.0),
 (10836, 'ERNSH', '1998-01-16 00:00:00', '1997-12-24 00:00:00', 23.0),
 (10854, 'ERNSH', '1998-01-27 00:00:00', '1998-01-16 00:00:00', 11.0),
 (10895, 'ERNSH', '1998-02-18 00:00:00', '1998-01-27 00:00:00', 22.0),
 (10968, 'ERNSH', '1998-03-23 00:00:00', '1998-02-18 00:00:00', 33.0),
 (10979, 'ERNSH', '1998-03-26 00:00:00', '1998-03-23 00:00:00', 3.0),
 (10990, 'ERNSH', '1998-04-01 00:00:00', '1998-03-26 00:00:00', 6.0),
 (11008, 'ERNSH', '1998-04-08 00:00:00', '1998-04-01 00:00:00', 7.0),
 (11017, 'ERNSH', '1998-04-13 00:00:00', '1998-04-08 00:00:00', 5.0),
 (11072, 'ERNSH', '1998-05-05 00:00:00', '1998-04-13 00:00:00', 22.0),
 (10347, 'FAMIA', '1996-11-06 00:00:00', None, None),
 (10386, 'FAMIA', '1996-12-18 00:00:00', '1996-11-06 00:00:00', 42.0),
 (10414, 'FAMIA', '1997-01-14 00:00:00', '1996-12-18 00:00:00', 27.0),
 (10512, 'FAMIA', '1997-04-21 00:00:00', '1997-01-14 00:00:00', 97.0),
 (10581, 'FAMIA', '1997-06-26 00:00:00', '1997-04-21 00:00:00', 66.0),
 (10650, 'FAMIA', '1997-08-29 00:00:00', '1997-06-26 00:00:00', 64.0),
 (10725, 'FAMIA', '1997-10-31 00:00:00', '1997-08-29 00:00:00', 63.0),
 (10408, 'FOLIG', '1997-01-08 00:00:00', None, None),
 (10480, 'FOLIG', '1997-03-20 00:00:00', '1997-01-08 00:00:00', 71.0),
 (10634, 'FOLIG', '1997-08-15 00:00:00', '1997-03-20 00:00:00', 148.0),
 (10763, 'FOLIG', '1997-12-03 00:00:00', '1997-08-15 00:00:00', 110.0),
 (10789, 'FOLIG', '1997-12-22 00:00:00', '1997-12-03 00:00:00', 19.0),
 (10264, 'FOLKO', '1996-07-24 00:00:00', None, None),
 (10327, 'FOLKO', '1996-10-11 00:00:00', '1996-07-24 00:00:00', 79.0),
 (10378, 'FOLKO', '1996-12-10 00:00:00', '1996-10-11 00:00:00', 60.0),
 (10434, 'FOLKO', '1997-02-03 00:00:00', '1996-12-10 00:00:00', 55.0),
 (10460, 'FOLKO', '1997-02-28 00:00:00', '1997-02-03 00:00:00', 25.0),
 (10533, 'FOLKO', '1997-05-12 00:00:00', '1997-02-28 00:00:00', 73.0),
 (10561, 'FOLKO', '1997-06-06 00:00:00', '1997-05-12 00:00:00', 25.0),
 (10703, 'FOLKO', '1997-10-14 00:00:00', '1997-06-06 00:00:00', 130.0),
 (10762, 'FOLKO', '1997-12-02 00:00:00', '1997-10-14 00:00:00', 49.0),
 (10774, 'FOLKO', '1997-12-11 00:00:00', '1997-12-02 00:00:00', 9.0),
 (10824, 'FOLKO', '1998-01-09 00:00:00', '1997-12-11 00:00:00', 29.0),
 (10880, 'FOLKO', '1998-02-10 00:00:00', '1998-01-09 00:00:00', 32.0),
 (10902, 'FOLKO', '1998-02-23 00:00:00', '1998-02-10 00:00:00', 13.0),
 (10955, 'FOLKO', '1998-03-17 00:00:00', '1998-02-23 00:00:00', 22.0),
 (10977, 'FOLKO', '1998-03-26 00:00:00', '1998-03-17 00:00:00', 9.0),
 (10980, 'FOLKO', '1998-03-27 00:00:00', '1998-03-26 00:00:00', 1.0),
 (10993, 'FOLKO', '1998-04-01 00:00:00', '1998-03-27 00:00:00', 5.0),
 (11001, 'FOLKO', '1998-04-06 00:00:00', '1998-04-01 00:00:00', 5.0),
 (11050, 'FOLKO', '1998-04-27 00:00:00', '1998-04-06 00:00:00', 21.0),
 (10267, 'FRANK', '1996-07-29 00:00:00', None, None),
 (10337, 'FRANK', '1996-10-24 00:00:00', '1996-07-29 00:00:00', 87.0),
 (10342, 'FRANK', '1996-10-30 00:00:00', '1996-10-24 00:00:00', 6.0),
 (10396, 'FRANK', '1996-12-27 00:00:00', '1996-10-30 00:00:00', 58.0),
 (10488, 'FRANK', '1997-03-27 00:00:00', '1996-12-27 00:00:00', 90.0),
 (10560, 'FRANK', '1997-06-06 00:00:00', '1997-03-27 00:00:00', 71.0),
 (10623, 'FRANK', '1997-08-07 00:00:00', '1997-06-06 00:00:00', 62.0),
 (10653, 'FRANK', '1997-09-02 00:00:00', '1997-08-07 00:00:00', 26.0),
 (10670, 'FRANK', '1997-09-16 00:00:00', '1997-09-02 00:00:00', 14.0),
 (10675, 'FRANK', '1997-09-19 00:00:00', '1997-09-16 00:00:00', 3.0),
 (10717, 'FRANK', '1997-10-24 00:00:00', '1997-09-19 00:00:00', 35.0),
 (10791, 'FRANK', '1997-12-23 00:00:00', '1997-10-24 00:00:00', 60.0),
 (10859, 'FRANK', '1998-01-29 00:00:00', '1997-12-23 00:00:00', 37.0),
 (10929, 'FRANK', '1998-03-05 00:00:00', '1998-01-29 00:00:00', 35.0),
 (11012, 'FRANK', '1998-04-09 00:00:00', '1998-03-05 00:00:00', 35.0),
 (10671, 'FRANR', '1997-09-17 00:00:00', None, None),
 (10860, 'FRANR', '1998-01-29 00:00:00', '1997-09-17 00:00:00', 134.0),
 (10971, 'FRANR', '1998-03-24 00:00:00', '1998-01-29 00:00:00', 54.0),
 (10422, 'FRANS', '1997-01-22 00:00:00', None, None),
 (10710, 'FRANS', '1997-10-20 00:00:00', '1997-01-22 00:00:00', 271.0),
 (10753, 'FRANS', '1997-11-25 00:00:00', '1997-10-20 00:00:00', 36.0),
 (10807, 'FRANS', '1997-12-31 00:00:00', '1997-11-25 00:00:00', 36.0),
 (11026, 'FRANS', '1998-04-15 00:00:00', '1997-12-31 00:00:00', 105.0),
 (11060, 'FRANS', '1998-04-30 00:00:00', '1998-04-15 00:00:00', 15.0),
 (10328, 'FURIB', '1996-10-14 00:00:00', None, None),
 (10352, 'FURIB', '1996-11-12 00:00:00', '1996-10-14 00:00:00', 29.0),
 (10464, 'FURIB', '1997-03-04 00:00:00', '1996-11-12 00:00:00', 112.0),
 (10491, 'FURIB', '1997-03-31 00:00:00', '1997-03-04 00:00:00', 27.0),
 (10551, 'FURIB', '1997-05-28 00:00:00', '1997-03-31 00:00:00', 58.0),
 (10604, 'FURIB', '1997-07-18 00:00:00', '1997-05-28 00:00:00', 51.0),
 (10664, 'FURIB', '1997-09-10 00:00:00', '1997-07-18 00:00:00', 54.0),
 (10963, 'FURIB', '1998-03-19 00:00:00', '1997-09-10 00:00:00', 190.0),
 (10366, 'GALED', '1996-11-28 00:00:00', None, None),
 (10426, 'GALED', '1997-01-27 00:00:00', '1996-11-28 00:00:00', 60.0),
 (10568, 'GALED', '1997-06-13 00:00:00', '1997-01-27 00:00:00', 137.0),
 (10887, 'GALED', '1998-02-13 00:00:00', '1997-06-13 00:00:00', 245.0),
 (10928, 'GALED', '1998-03-05 00:00:00', '1998-02-13 00:00:00', 20.0),
 (10303, 'GODOS', '1996-09-11 00:00:00', None, None),
 (10550, 'GODOS', '1997-05-28 00:00:00', '1996-09-11 00:00:00', 259.0),
 (10629, 'GODOS', '1997-08-12 00:00:00', '1997-05-28 00:00:00', 76.0),
 (10872, 'GODOS', '1998-02-05 00:00:00', '1997-08-12 00:00:00', 177.0),
 (10874, 'GODOS', '1998-02-06 00:00:00', '1998-02-05 00:00:00', 1.0),
 (10888, 'GODOS', '1998-02-16 00:00:00', '1998-02-06 00:00:00', 10.0),
 (10911, 'GODOS', '1998-02-26 00:00:00', '1998-02-16 00:00:00', 10.0),
 (10948, 'GODOS', '1998-03-13 00:00:00', '1998-02-26 00:00:00', 15.0),
 (11009, 'GODOS', '1998-04-08 00:00:00', '1998-03-13 00:00:00', 26.0),
 (11037, 'GODOS', '1998-04-21 00:00:00', '1998-04-08 00:00:00', 13.0),
 (10423, 'GOURL', '1997-01-23 00:00:00', None, None),
 (10652, 'GOURL', '1997-09-01 00:00:00', '1997-01-23 00:00:00', 221.0),
 (10685, 'GOURL', '1997-09-29 00:00:00', '1997-09-01 00:00:00', 28.0),
 (10709, 'GOURL', '1997-10-17 00:00:00', '1997-09-29 00:00:00', 18.0),
 (10734, 'GOURL', '1997-11-07 00:00:00', '1997-10-17 00:00:00', 21.0),
 (10777, 'GOURL', '1997-12-15 00:00:00', '1997-11-07 00:00:00', 38.0),
 (10790, 'GOURL', '1997-12-22 00:00:00', '1997-12-15 00:00:00', 7.0),
 (10959, 'GOURL', '1998-03-18 00:00:00', '1997-12-22 00:00:00', 86.0),
 (11049, 'GOURL', '1998-04-24 00:00:00', '1998-03-18 00:00:00', 37.0),
 (10528, 'GREAL', '1997-05-06 00:00:00', None, None),
 (10589, 'GREAL', '1997-07-04 00:00:00', '1997-05-06 00:00:00', 59.0),
 (10616, 'GREAL', '1997-07-31 00:00:00', '1997-07-04 00:00:00', 27.0),
 (10617, 'GREAL', '1997-07-31 00:00:00', '1997-07-31 00:00:00', 0.0),
 (10656, 'GREAL', '1997-09-04 00:00:00', '1997-07-31 00:00:00', 35.0),
 (10681, 'GREAL', '1997-09-25 00:00:00', '1997-09-04 00:00:00', 21.0),
 (10816, 'GREAL', '1998-01-06 00:00:00', '1997-09-25 00:00:00', 103.0),
 (10936, 'GREAL', '1998-03-09 00:00:00', '1998-01-06 00:00:00', 62.0),
 (11006, 'GREAL', '1998-04-07 00:00:00', '1998-03-09 00:00:00', 29.0),
 (11040, 'GREAL', '1998-04-22 00:00:00', '1998-04-07 00:00:00', 15.0),
 (11061, 'GREAL', '1998-04-30 00:00:00', '1998-04-22 00:00:00', 8.0),
 (10268, 'GROSR', '1996-07-30 00:00:00', None, None),
 (10785, 'GROSR', '1997-12-18 00:00:00', '1996-07-30 00:00:00', 506.0),
 (10250, 'HANAR', '1996-07-08 00:00:00', None, None),
 (10253, 'HANAR', '1996-07-10 00:00:00', '1996-07-08 00:00:00', 2.0),
 (10541, 'HANAR', '1997-05-19 00:00:00', '1996-07-10 00:00:00', 313.0),
 (10645, 'HANAR', '1997-08-26 00:00:00', '1997-05-19 00:00:00', 99.0),
 (10690, 'HANAR', '1997-10-02 00:00:00', '1997-08-26 00:00:00', 37.0),
 (10770, 'HANAR', '1997-12-09 00:00:00', '1997-10-02 00:00:00', 68.0),
 (10783, 'HANAR', '1997-12-18 00:00:00', '1997-12-09 00:00:00', 9.0),
 (10886, 'HANAR', '1998-02-13 00:00:00', '1997-12-18 00:00:00', 57.0),

#### Task 4
Calculate the moving average of the quantity of the last 3 orders for each product using window functions.

In [48]:
%%sql

SELECT
    OrderID,
    ProductID,
    Quantity,
    ROUND(AVG(Quantity) OVER (
        PARTITION BY ProductID 
        ORDER BY OrderID 
        ROWS BETWEEN 2 PRECEDING AND 0 FOLLOWING),2) AS MovingAvgQuantity
FROM
    OrderDetails
ORDER BY
    ProductID,
    OrderID;

 * sqlite:///northwind.db
Done.

[(10285, 1, 45, 45.0),
 (10294, 1, 18, 31.5),
 (10317, 1, 20, 27.67),
 (10348, 1, 15, 17.67),
 (10354, 1, 12, 15.67),
 (10370, 1, 15, 14.0),
 (10406, 1, 10, 12.33),
 (10413, 1, 24, 16.33),
 (10477, 1, 15, 16.33),
 (10522, 1, 40, 26.33),
 (10526, 1, 8, 21.0),
 (10576, 1, 10, 19.33),
 (10590, 1, 20, 12.67),
 (10609, 1, 3, 11.0),
 (10611, 1, 6, 9.67),
 (10628, 1, 25, 11.33),
 (10646, 1, 15, 15.33),
 (10689, 1, 35, 25.0),
 (10691, 1, 30, 26.67),
 (10700, 1, 5, 23.33),
 (10729, 1, 50, 28.33),
 (10752, 1, 8, 21.0),
 (10838, 1, 4, 20.67),
 (10847, 1, 80, 30.67),
 (10863, 1, 20, 34.67),
 (10869, 1, 40, 46.67),
 (10905, 1, 20, 26.67),
 (10911, 1, 10, 23.33),
 (10918, 1, 60, 30.0),
 (10935, 1, 21, 30.33),
 (11003, 1, 4, 28.33),
 (11005, 1, 2, 9.0),
 (11006, 1, 8, 4.67),
 (11025, 1, 10, 6.67),
 (11031, 1, 45, 21.0),
 (11035, 1, 10, 21.67),
 (11047, 1, 25, 26.67),
 (11070, 1, 40, 25.0),
 (10255, 2, 20, 20.0),
 (10258, 2, 50, 35.0),
 (10264, 2, 35, 35.0),
 (10298, 2, 40, 41.67),
 (10327, 2, 25, 33.33),
 (10335, 2, 7, 24.0),
 (10342, 2, 24, 18.67),
 (10393, 2, 25, 18.67),
 (10418, 2, 60, 36.33),
 (10435, 2, 10, 31.67),
 (10440, 2, 45, 38.33),
 (10469, 2, 40, 31.67),
 (10485, 2, 20, 35.0),
 (10504, 2, 12, 24.0),
 (10611, 2, 10, 14.0),
 (10622, 2, 20, 14.0),
 (10632, 2, 30, 20.0),
 (10641, 2, 50, 33.33),
 (10703, 2, 5, 28.33),
 (10714, 2, 30, 28.33),
 (10722, 2, 3, 12.67),
 (10741, 2, 15, 16.0),
 (10766, 2, 40, 19.33),
 (10787, 2, 15, 23.33),
 (10792, 2, 10, 21.67),
 (10806, 2, 20, 15.0),
 (10813, 2, 12, 14.0),
 (10829, 2, 10, 14.0),
 (10851, 2, 5, 9.0),
 (10852, 2, 15, 10.0),
 (10856, 2, 20, 13.33),
 (10866, 2, 21, 18.67),
 (10885, 2, 20, 20.33),
 (10888, 2, 20, 20.33),
 (10939, 2, 10, 16.67),
 (10991, 2, 50, 26.67),
 (11021, 2, 11, 23.67),
 (11030, 2, 100, 53.67),
 (11041, 2, 30, 47.0),
 (11049, 2, 10, 46.67),
 (11070, 2, 20, 20.0),
 (11072, 2, 8, 12.67),
 (11075, 2, 10, 12.67),
 (11077, 2, 24, 14.0),
 (10289, 3, 30, 30.0),
 (10405, 3, 50, 40.0),
 (10485, 3, 20, 33.33),
 (10540, 3, 60, 43.33),
 (10591, 3, 14, 31.33),
 (10702, 3, 6, 26.67),
 (10742, 3, 20, 13.33),
 (10764, 3, 20, 15.33),
 (10849, 3, 49, 29.67),
 (10857, 3, 30, 33.0),
 (11017, 3, 25, 34.67),
 (11077, 3, 4, 19.67),
 (10309, 4, 20, 20.0),
 (10326, 4, 24, 22.0),
 (10336, 4, 18, 20.67),
 (10339, 4, 10, 17.33),
 (10344, 4, 35, 21.0),
 (10464, 4, 16, 20.33),
 (10511, 4, 50, 33.67),
 (10527, 4, 50, 38.67),
 (10533, 4, 50, 50.0),
 (10606, 4, 20, 40.0),
 (10635, 4, 10, 26.67),
 (10636, 4, 25, 18.33),
 (10654, 4, 12, 15.67),
 (10704, 4, 6, 14.33),
 (10726, 4, 25, 14.33),
 (10846, 4, 21, 17.33),
 (10913, 4, 30, 25.33),
 (10950, 4, 5, 18.67),
 (11000, 4, 25, 20.0),
 (11077, 4, 1, 10.33),
 (10258, 5, 65, 65.0),
 (10262, 5, 12, 38.5),
 (10290, 5, 20, 32.33),
 (10382, 5, 32, 21.33),
 (10635, 5, 15, 22.33),
 (10708, 5, 4, 17.0),
 (10848, 5, 30, 16.33),
 (10958, 5, 20, 18.0),
 (11030, 5, 70, 40.0),
 (11047, 5, 30, 40.0),
 (10309, 6, 30, 30.0),
 (10325, 6, 6, 18.0),
 (10618, 6, 70, 35.33),
 (10734, 6, 30, 35.33),
 (10830, 6, 6, 35.33),
 (10871, 6, 50, 28.67),
 (10934, 6, 20, 25.33),
 (10949, 6, 12, 27.33),
 (10952, 6, 16, 16.0),
 (10989, 6, 40, 22.67),
 (11076, 6, 20, 25.33),
 (11077, 6, 1, 20.33),
 (10262, 7, 15, 15.0),
 (10385, 7, 10, 12.5),
 (10459, 7, 16, 13.67),
 (10471, 7, 30, 18.67),
 (10511, 7, 50, 32.0),
 (10546, 7, 10, 30.0),
 (10591, 7, 10, 23.33),
 (10607, 7, 45, 21.67),
 (10634, 7, 35, 30.0),
 (10694, 7, 90, 56.67),
 (10766, 7, 35, 53.33),
 (10790, 7, 3, 42.67),
 (10833, 7, 20, 19.33),
 (10858, 7, 5, 9.33),
 (10908, 7, 20, 15.0),
 (10909, 7, 12, 12.33),
 (10940, 7, 8, 13.33),
 (10958, 7, 6, 8.67),
 (10962, 7, 45, 19.67),
 (10979, 7, 18, 23.0),
 (10982, 7, 20, 27.67),
 (10987, 7, 60, 32.67),
 (10988, 7, 60, 46.67),
 (11001, 7, 60, 60.0),
 (11010, 7, 20, 46.67),
 (11023, 7, 4, 28.0),
 (11056, 7, 40, 21.33),
 (11071, 7, 15, 19.67),
 (11077, 7, 1, 18.67),
 (10344, 8, 70, 70.0),
 (10345, 8, 70, 70.0),
 (10511, 8, 10, 50.0),
 (10522, 8, 24, 34.67),
 (10695, 8, 10, 14.67),
 (10709, 8, 40, 24.67),
 (10786, 8, 30, 26.67),
 (10829, 8, 20, 30.0),
 (10893, 8, 30, 26.67),
 (10975, 8, 16, 22.0),
 (10978, 8, 20, 22.0),
 (11007, 8, 30, 22.0),
 (11077, 8, 2, 17.33),
 (10420, 9, 20, 20.0),
 (10515, 9, 16, 18.0),
 (10687, 9, 50, 28.67),
 (10693, 9, 6, 24.0),
 (10848, 9, 3, 19.67),
 (10273, 10, 24, 24.0),
 (10276, 10, 15, 19.5),
 (10357, 10, 30, 23.0),
 (10389, 10, 16, 20.33),
 (10449, 10, 14, 20.0),
 (10450, 10, 20, 16.67),
 (10478, 10, 20, 18.0),
 (10519, 10, 16, 18.67),
 (10524, 10, 2, 12.67),
 (10568, 10, 5, 7.67),
 (10609, 10, 10, 5.67),
 (10612, 10, 70, 28.33),
 (10646, 10, 18, 32.67),
 (10664, 10, 24, 37.33),
 (10676, 10, 2, 14.67),
 (10685, 10, 20, 15.33),
 (10688, 10, 18, 13.33),
 (10713, 10, 18, 18.67),
 (10715, 10, 21, 19.0),
 (10724, 10, 16, 18.33),
 (10775, 10, 6, 14.33),
 (10785, 10, 10, 10.67),
 (10804, 10, 36, 17.33),
 (10827, 10, 15, 20.33),
 (10841, 10, 16, 22.33),
 (10854, 10, 100, 43.67),
 (10874, 10, 10, 42.0),
 (10886, 10, 70, 60.0),
 (10924, 10, 20, 33.33),
 (10946, 10, 25, 38.33),
 (10949, 10, 30, 25.0),
 (11020, 10, 24, 26.33),
 (11077, 10, 1, 18.33),
 (10248, 11, 12, 12.0),
 (10296, 11, 12, 12.0),
 (10327, 11, 50, 24.67),
 (10353, 11, 12, 24.67),
 (10365, 11, 24, 28.67),
 (10407, 11, 30, 22.0),
 (10434, 11, 6, 20.0),
 (10442, 11, 30, 22.0),
 (10443, 11, 6, 14.0),
 (10466, 11, 10, 15.33),
 (10486, 11, 5, 7.0),
 (10489, 11, 15, 10.0),
 (10528, 11, 3, 7.67),
 (10535, 11, 50, 22.67),
 (10542, 11, 15, 22.67),
 (10545, 11, 10, 25.0),
 (10553, 11, 15, 13.33),
 (10566, 11, 35, 20.0),
 (10570, 11, 15, 21.67),
 (10614, 11, 14, 21.33),
 (10637, 11, 10, 13.0),
 (10698, 11, 15, 13.0),
 (10726, 11, 5, 10.0),
 (10770, 11, 15, 11.67),
 (10797, 11, 20, 13.33),
 (10800, 11, 50, 28.33),
 (10823, 11, 20, 30.0),
 (10842, 11, 15, 28.33),
 (10862, 11, 25, 20.0),
 (10869, 11, 10, 16.67),
 (10889, 11, 40, 25.0),
 (10912, 11, 40, 30.0),
 (10926, 11, 2, 27.33),
 (10944, 11, 5, 15.67),
 (10986, 11, 30, 12.33),
 (10989, 11, 15, 16.67),
 (11043, 11, 10, 18.33),
 (11073, 11, 10, 11.67),
 (10266, 12, 12, 12.0),
 (10439, 12, 15, 13.5),
 (10536, 12, 15, 14.0),
 (10543, 12, 30, 20.0),
 (10633, 12, 36, 27.0),
 (10678, 12, 100, 55.33),
 (10695, 12, 4, 46.67),
 (10718, 12, 36, 46.67),
 (10968, 12, 30, 23.33),
 (10979, 12, 20, 28.67),
 (11018, 12, 20, 23.33),
 (11046, 12, 20, 20.0),
 (11049, 12, 4, 14.67),
 (11077, 12, 2, 8.67),
 (10276, 13, 10, 10.0),
 (10291, 13, 20, 15.0),
 (10325, 13, 12, 14.0),
 (10383, 13, 20, 17.33),
 (10391, 13, 18, 16.67),
 (10394, 13, 10, 16.0),
 (10420, 13, 2, 10.0),
 (10462, 13, 1, 4.33),
 (10508, 13, 10, 4.33),
 (10526, 13, 10, 7.0),
 (10539, 13, 8, 9.33),
 (10601, 13, 60, 26.0),
 (10613, 13, 8, 25.33),
 (10633, 13, 13, 27.0),
 (10737, 13, 4, 8.33),
 (10746, 13, 6, 7.67),
 (10799, 13, 20, 10.0),
 (10810, 13, 7, 11.0),
 (10829, 13, 10, 12.33),
 (10832, 13, 3, 6.67),
 (10837, 13, 6, 6.33),
 (10854, 13, 65, 24.67),
 (10894, 13, 28, 33.0),
 (10898, 13, 5, 32.67),
 (10903, 13, 40, 24.33),
 (10926, 13, 10, 18.33),
 (10931, 13, 42, 30.67),
 (10938, 13, 20, 24.0),
 (10940, 13, 20, 27.33),
 (10943, 13, 15, 18.33),
 (10945, 13, 20, 18.33),
 (10962, 13, 77, 37.33),
 (10983, 13, 84, 60.33),
 (11002, 13, 56, 72.33),
 (11025, 13, 20, 53.33),
 (11031, 13, 80, 52.0),
 (11036, 13, 7, 35.67),
 (11059, 13, 30, 39.0),
 (11071, 13, 10, 15.67),
 (11077, 13, 4, 14.67),
 (10249, 14, 9, 9.0),
 (10325, 14, 9, 9.0),
 (10333, 14, 10, 9.33),
 (10375, 14, 15, 11.33),
 (10393, 14, 42, 22.33),
 (10409, 14, 12, 23.0),
 (10412, 14, 20, 24.67),
 (10427, 14, 35, 22.33),
 (10474, 14, 12, 22.33),
 (10503, 14, 70, 39.0),
 (10555, 14, 30, 37.33),
 (10571, 14, 11, 37.0),
 (10580, 14, 15, 18.67),
 (10623, 14, 21, 15.67),
 (10625, 14, 3, 13.0),
 (10656, 14, 3, 9.0),
 (10675, 14, 30, 12.0),
 (10733, 14, 16, 16.33),
 (10750, 14, 5, 17.0),
 (10794, 14, 15, 12.0),
 (11076, 14, 20, 13.33),
 (11077, 14, 1, 12.0),
 (10283, 15, 20, 20.0),
 (10323, 15, 5, 12.5),
 (10500, 15, 12, 12.33),
 (10579, 15, 10, 9.0),
 (10592, 15, 25, 15.67),
 (10657, 15, 50, 28.33),
 (10255, 16, 35, 35.0),
 (10263, 16, 60, 47.5),
 (10287, 16, 40, 45.0),
 (10296, 16, 30, 43.33),
 (10310, 16, 10, 26.67),
 (10324, 16, 21, 20.33),
 (10359, 16, 56, 29.0),
 (10403, 16, 21, 32.67),
 (10439, 16, 16, 31.0),
 (10440, 16, 49, 28.67),
 (10454, 16, 20, 28.33),
 (10469, 16, 35, 34.67),
 (10489, 16, 18, 24.33),
 (10515, 16, 50, 34.33),
 (10551, 16, 40, 36.0),
 (10553, 16, 14, 34.67),
 (10554, 16, 30, 28.0),
 (10572, 16, 12, 18.67),
 (10605, 16, 30, 24.0),
 (10653, 16, 30, 24.0),
 (10671, 16, 10, 23.33),
 (10673, 16, 3, 14.33),
 (10680, 16, 50, 21.0),
 (10706, 16, 20, 24.33),
 (10718, 16, 20, 30.0),
 (10730, 16, 15, 18.33),
 (10738, 16, 3, 12.67),
 (10779, 16, 20, 12.67),
 (10795, 16, 65, 29.33),
 (10855, 16, 50, 45.0),
 (10871, 16, 12, 42.33),
 (10877, 16, 30, 30.67),
 (10909, 16, 15, 19.0),
 (10916, 16, 6, 17.0),
 (10919, 16, 24, 15.0),
 (10932, 16, 30, 20.0),
 (10954, 16, 28, 27.33),
 (10984, 16, 55, 37.67),
 (10985, 16, 36, 39.67),
 (11066, 16, 3, 31.33),
 (11070, 16, 30, 23.0),
 (11074, 16, 14, 15.67),
 (11077, 16, 2, 15.33),
 (10265, 17, 30, 30.0),
 (10279, 17, 15, 22.5),
 (10294, 17, 15, 20.0),
 (10302, 17, 40, 23.33),
 (10319, 17, 8, 21.0),
 (10338, 17, 20, 22.67),
 (10339, 17, 70, 32.67),
 (10346, 17, 36, 42.0),
 (10415, 17, 2, 36.0),
 (10430, 17, 45, 27.67),
 (10431, 17, 50, 32.33),
 (10444, 17, 10, 35.0),
 (10523, 17, 25, 28.33),
 (10530, 17, 40, 25.0),
 (10550, 17, 8, 24.33),
 (10564, 17, 16, 21.33),
 (10573, 17, 18, 14.0),
 (10607, 17, 100, 44.67),
 (10686, 17, 30, 49.33),
 (10696, 17, 20, 50.0),
 (10698, 17, 8, 19.33),
 (10714, 17, 27, 18.33),
 (10727, 17, 20, 18.33),
 (10773, 17, 33, 26.67),
 (10795, 17, 35, 29.33),
 (10801, 17, 40, 36.0),
 (10852, 17, 6, 27.0),
 (10861, 17, 42, 29.33),
 (10871, 17, 16, 21.33),
 (10890, 17, 15, 24.33),
 (10911, 17, 12, 14.33),
 (10915, 17, 10, 12.33),
 (10922, 17, 15, 12.33),
 (10949, 17, 6, 10.33),
 (10972, 17, 6, 9.0),
 (11059, 17, 12, 8.0),
 (11064, 17, 77, 31.67),
 (10293, 18, 12, 12.0),
 (10305, 18, 25, 18.5),
 (10332, 18, 40, 25.67),
 (10340, 18, 20, 28.33),
 (10382, 18, 9, 23.0),
 (10470, 18, 30, 19.67),
 (10516, 18, 25, 21.33),
 (10566, 18, 18, 24.33),
 (10588, 18, 40, 27.67),
 (10634, 18, 50, 36.0),
 (10639, 18, 8, 32.67),
 (10644, 18, 4, 20.67),
 (10645, 18, 20, 10.67),
 (10719, 18, 12, 12.0),
 (10745, 18, 24, 18.67),
 (10756, 18, 21, 19.0),
 (10789, 18, 30, 25.0),
 (10838, 18, 25, 25.33),
 (10853, 18, 10, 21.67),
 (10861, 18, 20, 18.33),
 (10877, 18, 25, 18.33),
 (10935, 18, 4, 16.33),
 (10964, 18, 6, 11.67),
 (10985, 18, 8, 6.0),
 (11018, 18, 10, 8.0),
 (11026, 18, 8, 8.67),
 (11053, 18, 35, 17.67),
 (10281, 19, 1, 1.0),
 (10283, 19, 18, 9.5),
 (10299, 19, 15, 11.33),
 (10329, 19, 10, 14.33),
 (10345, 19, 80, 35.0),
 (10414, 19, 18, 36.0),
 (10416, 19, 20, 39.33),
 (10421, 19, 4, 14.0),
 (10438, 19, 15, 13.0),
 (10446, 19, 12, 10.33),
 (10447, 19, 40, 22.33),
 (10463, 19, 21, 24.33),
 (10487, 19, 5, 22.0),
 (10550, 19, 10, 12.0),
 (10555, 19, 35, 16.67),
 (10621, 19, 5, 16.67),
 (10623, 19, 15, 18.33),
 (10647, 19, 30, 16.67),
 (10651, 19, 12, 19.0),
 (10676, 19, 7, 16.33),
 (10681, 19, 30, 16.33),
 (10697, 19, 7, 14.67),
 (10710, 19, 5, 14.0),
 (10711, 19, 12, 8.0),
 (10788, 19, 50, 22.33),
 (10803, 19, 24, 28.67),
 (10811, 19, 15, 29.67),
 (10831, 19, 2, 13.67),
 (10847, 19, 12, 9.67),
 (10875, 19, 25, 13.0),
 (10910, 19, 12, 16.33),
 (10926, 19, 7, 14.67),
 (10967, 19, 12, 10.33),
 (11012, 19, 50, 23.0),
 (11022, 19, 35, 32.33),
 (11066, 19, 42, 42.33),
 (11076, 19, 10, 29.0),
 (10252, 20, 40, 40.0),
 (10272, 20, 6, 23.0),
 (10292, 20, 20, 22.0),
 (10372, 20, 12, 12.67),
 (10384, 20, 28, 20.0),
 (10514, 20, 39, 26.33),
 (10523, 20, 15, 27.33),
 (10593, 20, 21, 25.0),
 (10660, 20, 21, 19.0),
 (10828, 20, 5, 15.67),
 (10878, 20, 20, 15.33),
 (10927, 20, 5, 10.0),
 (10953, 20, 50, 25.0),
 (10986, 20, 15, 23.33),
 (11021, 20, 15, 26.67),
 (11077, 20, 1, 10.33),
 (10259, 21, 10, 10.0),
 (10261, 21, 20, 15.0),
 (10333, 21, 10, 13.33),
 (10368, 21, 5, 11.67),
 (10397, 21, 10, 8.33),
 (10406, 21, 30, 15.0),
 (10409, 21, 12, 17.33),
 (10430, 21, 50, 30.67),
 (10456, 21, 40, 34.0),
 (10461, 21, 40, 43.33),
 (10477, 21, 21, 33.67),
 (10484, 21, 14, 25.0),
 (10504, 21, 12, 15.67),
 (10513, 21, 40, 22.0),
 (10539, 21, 15, 22.33),
 (10550, 21, 6, 20.33),
 (10609, 21, 6, 9.0),
 (10614, 21, 8, 6.67),
 (10619, 21, 42, 18.67),
 (10623, 21, 25, 25.0),
 (10642, 21, 30, 32.33),
 (10658, 21, 60, 38.33),
 (10681, 21, 12, 34.0),
 (10716, 21, 5, 25.67),
 (10717, 21, 32, 16.33),
 (10729, 21, 30, 22.33),
 (10731, 21, 40, 34.0),
 (10763, 21, 40, 36.67),
 (10861, 21, 40, 40.0),
 (10873, 21, 20, 33.33),
 (10884, 21, 40, 33.33),
 (10929, 21, 60, 40.0),
 (10930, 21, 36, 45.33),
 (10956, 21, 12, 36.0),
 (10978, 21, 40, 29.33),
 (10990, 21, 65, 39.0),
 (11034, 21, 15, 40.0),
 (11040, 21, 20, 33.33),
 (11058, 21, 3, 12.67),
 (10251, 22, 6, 6.0),
 (10435, 22, 12, 9.0),
 (10553, 22, 24, 14.0),
 (10603, 22, 48, 28.0),
 (10619, 22, 40, 37.33),
 (10635, 22, 40, 42.67),
 (10648, 22, 15, 31.67),
 (10651, 22, 20, 25.0),
 (10763, 22, 6, 13.67),
 (10768, 22, 4, 10.0),
 (10836, 22, 52, 20.67),
 (10844, 22, 35, 30.33),
 (10943, 22, 21, 36.0),
 (11001, 22, 25, 27.0),
 (10337, 23, 40, 40.0),
 (10348, 23, 25, 32.5),
 (10396, 23, 40, 35.0),
 (10402, 23, 60, 41.67),
 (10462, 23, 21, 40.33),
 (10470, 23, 15, 32.0),
 (10495, 23, 10, 15.33),
 (10543, 23, 70, 31.67),
 (10554, 23, 20, 33.33),
 (10621, 23, 10, 33.33),
 (10670, 23, 32, 20.67),
 (10674, 23, 5, 15.67),
 (10748, 23, 44, 27.0),
 (10811, 23, 18, 22.33),
 (10845, 23, 70, 44.0),
 (10869, 23, 50, 46.0),
 (10880, 23, 30, 50.0),
 (10935, 23, 8, 29.33),
 (11013, 23, 10, 16.0),
 (11077, 23, 2, 6.67),
 (10254, 24, 15, 15.0),
 (10263, 24, 28, 21.5),
 (10275, 24, 12, 18.33),
 (10280, 24, 12, 17.33),
 (10281, 24, 6, 10.0),
 (10293, 24, 10, 9.33),
 (10352, 24, 10, 8.67),
 (10355, 24, 25, 15.0),
 (10358, 24, 10, 15.0),
 (10386, 24, 15, 16.67),
 (10387, 24, 15, 13.33),
 (10446, 24, 20, 16.67),
 (10465, 24, 25, 20.0),
 (10467, 24, 28, 24.33),
 (10472, 24, 80, 44.33),
 (10498, 24, 14, 40.67),
 (10512, 24, 10, 34.67),
 (10518, 24, 5, 9.67),
 (10520, 24, 8, 7.67),
 (10541, 24, 35, 16.0),
 (10555, 24, 18, 20.33),
 (10565, 24, 25, 26.0),
 (10597, 24, 35, 26.0),
 (10620, 24, 5, 21.67),
 (10623, 24, 3, 14.33),
 (10648, 24, 15, 7.67),
 (10695, 24, 20, 12.67),
 (10704, 24, 35, 23.33),
 (10763, 24, 20, 25.0),
 (10799, 24, 20, 25.0),
 (10859, 24, 40, 26.67),
 (10866, 24, 6, 22.0),
 (10883, 24, 8, 18.0),
 (10885, 24, 12, 8.67),
 (10893, 24, 10, 10.0),
 (10895, 24, 110, 44.0),
 (10922, 24, 35, 51.67),
 (10946, 24, 25, 56.67),
 (10960, 24, 10, 23.33),
 (10968, 24, 30, 21.67),
 (10979, 24, 80, 40.0),
 (10984, 24, 20, 43.33),
 (10998, 24, 12, 37.33),
 (11000, 24, 30, 20.67),
 (11009, 24, 12, 18.0),
 (11010, 24, 10, 17.33),
 (11027, 24, 30, 17.33),
 (11031, 24, 21, 20.33),
 (11051, 24, 10, 20.33),
 (11055, 24, 15, 15.33),
 (11073, 24, 20, 15.0),
 (10323, 25, 4, 4.0),
 (10347, 25, 10, 7.0),
 (10362, 25, 50, 21.33),
 (10393, 25, 7, 22.33),
 (10467, 25, 12, 23.0),
 (10492, 25, 60, 26.33),
 (10506, 25, 18, 30.0),
 (10760, 25, 12, 30.0),
 (10761, 25, 35, 21.67),
 (10803, 25, 15, 20.67),
 (10810, 25, 5, 18.33),
 (10832, 25, 10, 10.0),
 (10840, 25, 6, 7.0),
 (10850, 25, 20, 12.0),
 (10851, 25, 10, 12.0),
 (10887, 25, 5, 11.67),
 (10919, 25, 24, 13.0),
 (11055, 25, 15, 14.67),
 (10330, 26, 50, 50.0),
 (10337, 26, 24, 37.0),
 (10357, 26, 16, 30.0),
 (10393, 26, 70, 36.67),
 (10404, 26, 30, 38.67),
 (10421, 26, 30, 43.33),
 (10422, 26, 2, 20.67),
 (10432, 26, 10, 14.0),
 (10444, 26, 15, 9.0),
 (10448, 26, 6, 10.33),
 (10458, 26, 30, 17.0),
 (10487, 26, 30, 22.0),
 (10540, 26, 40, 33.33),
 (10587, 26, 6, 25.33),
 (10592, 26, 5, 17.0),
 (10633, 26, 35, 15.33),
 (10677, 26, 30, 23.33),
 (10686, 26, 15, 26.67),
 (10713, 26, 30, 25.0),
 (10723, 26, 15, 20.0),
 (10751, 26, 12, 19.0),
 (10758, 26, 20, 15.67),
 (10796, 26, 21, 17.67),
 (10817, 26, 40, 27.0),
 (10825, 26, 12, 24.33),
 (10849, 26, 18, 23.33),
 (10857, 26, 35, 21.67),
 (10868, 26, 20, 24.33),
 (10973, 26, 5, 20.0),
 (11004, 26, 6, 10.33),
 (11021, 26, 63, 24.67),
 (11024, 26, 12, 27.0),
 (10257, 27, 25, 25.0),
 (10284, 27, 15, 20.0),
 (10441, 27, 50, 30.0),
 (10515, 27, 120, 61.67),
 (10598, 27, 50, 73.33),
 (10760, 27, 40, 70.0),
 (10858, 27, 10, 33.33),
 (10930, 27, 25, 25.0),
 (10979, 27, 30, 21.67),
 (10277, 28, 20, 20.0),
 (10302, 28, 28, 24.0),
 (10312, 28, 4, 17.33),
 (10319, 28, 14, 15.33),
 (10360, 28, 30, 16.0),
 (10368, 28, 13, 19.0),
 (10377, 28, 20, 21.0),
 (10387, 28, 6, 13.0),
 (10406, 28, 42, 22.67),
 (10443, 28, 12, 20.0),
 (10452, 28, 15, 23.0),
 (10458, 28, 30, 19.0),
 (10474, 28, 18, 21.0),
 (10499, 28, 20, 22.67),
 (10500, 28, 8, 15.33),
 (10509, 28, 3, 10.33),
 (10514, 28, 35, 15.33),
 (10544, 28, 7, 15.0),
 (10624, 28, 10, 17.33),
 (10643, 28, 15, 10.67),
 (10649, 28, 20, 15.0),
 (10688, 28, 60, 31.67),
 (10733, 28, 20, 33.33),
 (10740, 28, 5, 28.33),
 (10804, 28, 24, 16.33),
 (10873, 28, 3, 10.67),
 (10924, 28, 30, 19.0),
 (10937, 28, 8, 13.67),
 (10952, 28, 2, 13.33),
 (10976, 28, 20, 10.0),
 (11008, 28, 70, 30.67),
 (11039, 28, 20, 36.67),
 (11068, 28, 8, 32.67),
 (10268, 29, 10, 10.0),
 (10290, 29, 15, 12.5),
 (10305, 29, 25, 16.67),
 (10354, 29, 4, 14.67),
 (10360, 29, 35, 21.33),
 (10369, 29, 20, 19.67),
 (10382, 29, 14, 23.0),
 (10400, 29, 21, 18.33),
 (10440, 29, 24, 19.67),
 (10465, 29, 18, 21.0),
 (10510, 29, 36, 26.0),
 (10583, 29, 10, 21.33),
 (10624, 29, 6, 17.33),
 (10629, 29, 20, 12.0),
 (10666, 29, 36, 20.67),
 (10687, 29, 10, 22.0),
 (10691, 29, 40, 28.67),
 (10698, 29, 12, 20.67),
 (10772, 29, 18, 23.33),
 (10787, 29, 20, 16.67),
 (10791, 29, 14, 17.33),
 (10801, 29, 20, 18.0),
 (10834, 29, 8, 14.0),
 (10857, 29, 10, 12.67),
 (10893, 29, 24, 14.0),
 (10897, 29, 80, 38.0),
 (10912, 29, 60, 54.67),
 (10971, 29, 14, 51.33),
 (10993, 29, 50, 41.33),
 (11006, 29, 2, 22.0),
 (11007, 29, 10, 20.67),
 (11030, 29, 60, 24.0),
 (10263, 30, 60, 60.0),
 (10282, 30, 6, 33.0),
 (10306, 30, 10, 25.33),
 (10327, 30, 35, 17.0),
 (10329, 30, 8, 17.67),
 (10338, 30, 15, 19.33),
 (10380, 30, 18, 13.67),
 (10401, 30, 18, 17.0),
 (10461, 30, 28, 21.33),
 (10468, 30, 8, 18.0),
 (10522, 30, 20, 18.67),
 (10524, 30, 10, 12.67),
 (10532, 30, 15, 15.0),
 (10534, 30, 10, 11.67),
 (10560, 30, 20, 15.0),
 (10650, 30, 30, 20.0),
 (10652, 30, 2, 17.33),
 (10719, 30, 3, 11.67),
 (10728, 30, 15, 6.67),
 (10734, 30, 15, 11.0),
 (10751, 30, 30, 20.0),
 (10786, 30, 15, 20.0),
 (10802, 30, 25, 23.33),
 (10834, 30, 20, 20.0),
 (10866, 30, 40, 28.33),
 (10891, 30, 15, 25.0),
 (10893, 30, 35, 30.0),
 (10897, 30, 36, 28.67),
 (10917, 30, 1, 24.0),
 (10957, 30, 30, 22.33),
 (11015, 30, 15, 15.33),
 (11065, 30, 4, 16.33),
 (10253, 31, 20, 20.0),
 (10272, 31, 40, 30.0),
 (10273, 31, 15, 25.0),
 (10325, 31, 4, 19.67),
 (10335, 31, 25, 14.67),
 (10342, 31, 56, 28.33),
 (10356, 31, 30, 37.0),
 (10359, 31, 70, 52.0),
 (10363, 31, 20, 40.0),
 (10374, 31, 30, 40.0),
 (10376, 31, 42, 30.67),
 (10390, 31, 60, 44.0),
 (10393, 31, 32, 44.67),
 (10423, 31, 14, 35.33),
 (10446, 31, 3, 16.33),
 (10475, 31, 35, 17.33),
 (10496, 31, 20, 19.33),
 (10536, 31, 20, 25.0),
 (10537, 31, 30, 23.33),
 (10549, 31, 55, 35.0),
 (10553, 31, 30, 38.33),
 (10564, 31, 6, 30.33),
 (10567, 31, 60, 32.0),
 (10569, 31, 35, 33.67),
 (10576, 31, 20, 38.33),
 (10584, 31, 50, 35.0),
 (10659, 31, 20, 30.0),
 (10668, 31, 8, 26.0),
 (10680, 31, 20, 16.0),
 (10705, 31, 20, 16.0),
 (10722, 31, 50, 30.0),
 (10730, 31, 3, 24.33),
 (10747, 31, 8, 20.33),
 (10768, 31, 50, 20.33),
 (10773, 31, 70, 42.67),
 (10774, 31, 2, 40.67),
 (10776, 31, 16, 29.33),
 (10782, 31, 1, 6.33),
 (10783, 31, 10, 9.0),
 (10812, 31, 16, 9.0),
 (10826, 31, 35, 20.33),
 (10833, 31, 9, 20.0),
 (10855, 31, 14, 19.33),
 (10886, 31, 35, 19.33),
 (10941, 31, 44, 31.0),
 (10945, 31, 10, 29.67),
 (10953, 31, 50, 34.67),
 (10954, 31, 25, 28.33),
 (10979, 31, 24, 33.0),
 (11016, 31, 15, 21.33),
 (11070, 31, 20, 19.67),
 (10258, 32, 6, 6.0),